@media (max-width: 767px) {

	.navbar-default {
		background-color: @core_black;
		margin: 0;
		display: block;
	}

	.navbar-default .navbar-toggle {
		border-color: #666;
	}

	.navbar-default .navbar-toggle:hover {
		background-color: #222;
	}

	.navbar-default .navbar-toggle:focus {
		background-color: #222;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #666;
	}

	.navbar-header {
		float: inherit;
	}
	
	.main_nav {
		float: inherit;
	}
	
	.gut {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.downloads a:hover {
		text-decoration: none;
	}
	.download {
		clear: right;
		display: block;
		margin: 0 auto;		
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent;
	}
	
}