@import "variables.less";
@import "mixins.less";

/** load generic overrides here **/
body {
	font-family: 'Montserrat', sans-serif;
	background-color: @core_black;
	background-image: url(/theme/CorgiCoin/images/bg.png);
	color: @core_white;
}

.nav, .navbar-brand {
	font-size: 18px;
}

.nav>li>a:hover, .navbar-header a:hover {
	color: @corgi_green !important;
}

.navbar-default {
	background-color: transparent;
	text-align: center;
    margin: 20px auto 0 auto;
    display: table;
    border: none;
}

.navbar-header {
	float: left;
}

.main_nav {
	float: left;
}

.homepage {
	margin-top: 30px;
	text-align: center;
}

.downloads {
	margin: 50px auto;
	overflow: hidden;
	clear: both;
	text-align: center;
}
.download {
	width: 172px;
	height: 66px;
	display: inline-block;
	background-image: url(/theme/CorgiCoin/images/download_box2.png);
	font-size: 16px;
	color: @core_black;
	padding-top: 22px;
}

.home_logo {
	width:85%;
	max-width: 456px;
}

.ver {
	color: #476f11;	
}

.gut {
	margin: 20px auto 0 auto;
	max-width: 700px;	
}

.gut h3 {
	margin-top: 0;
	margin-bottom: 45px;
	padding-top: 6px;
	border-top: 2px solid @corgi_green;
}

.gut a, .gut a:hover {
	color: @corgi_green;	
}

.gut h4 {
	color: @corgi_green;	
}

.foot {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;	
	font-size: 11px;
	color: @core_gray;
}

.team_row {
	margin-bottom: 20px;	
}

.team_row h4 {
	color: @core_white;
	padding-top: 10px;
}
.team_row .team_title {
	padding-left: 12px;
	color: @core_gray;
}

.team_links {
	clear: both;
}

.team_links .team_link {
	float: left;
	margin-right: 2px;
}

.client_ss {
	padding: 0;
}

.lnk li {
	padding-left: 20px;
}
.lnk li a {
	color: #aaa;
}

@import "media_min768max979.less";
@import "media_max979.less";
@import "media_max767.less";
@import "media_max480.less";
@import "media_min992.less";
@import "media_min1200.less";